<h1>Weathers#data</h1>
<p>Find me in app/views/weathers/data.html.erb</p>

<li><%= link_to 'by location id', weathers_get_data_id_path %></li>
<li><%= link_to 'by postcode', weathers_get_data_postcode_path %></li>
