<h1> SWEN30006 PROJECT3 GROUP 17 </h1>
<hr>

<ul><h3> Group Members </h3></ul>
<li><h4> 657730 Wittawin Kraisathianpaisal </h4></li>
<li><h4> 657348 Vincent Yuwono </h4></li>
<li><h4> 586026 Jordan Pheasant-Kelly </h4></li>
<hr>

<h3><%= link_to 'SEARCH LOCATION', weather_location_path %></h3>

<h3><%= link_to 'SEARCH DATA', weather_data_form_path %></h3>

<h3><%= link_to 'WEATHER PREDICTIONS', weathers_prediction_path %></h3>




