<h1>Weathers#prediction</h1>
<p>Find me in app/views/weathers/prediction.html.erb</p>

<li><%= link_to 'by postcode', weathers_get_prediction_postcode_path %></li>
<li><%= link_to 'by lat and long', weathers_get_prediction_latlong_path %></li>